@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class=" text-center display-4"> Most Common Bank of Australia</h1>
    <h3 class=" text-center display-4"> Admin System</h3>
    <div class="text-center img-fluid">
        <img src="~/img/bank.jpg" alt="bank" />
    </div>
</div>
